In [1]:
import pandas as pd

In [7]:
df = pd.DataFrame([['Django', 34000], ['flask', 27000], ['pyramid', 12000]])

In [4]:
df.shape

(3, 2)

In [5]:
df

         0      1
0   Django  34000
1    flask  27000
2  pyramid  12000

In [8]:
df2 = pd.DataFrame([['Django', 34000], ['flask', 27000], ['pyramid', 12000]],
                 columns=['repositorio', 'estrelas'])

In [9]:
df2

  repositorio  estrelas
0      Django     34000
1       flask     27000
2     pyramid     12000

In [10]:
df2['estrelas']

0    34000
1    27000
2    12000
Name: estrelas, dtype: int64

In [11]:
df2.iloc[0]

repositorio    Django
estrelas        34000
Name: 0, dtype: object

In [12]:
df2.iloc[0]['estrelas']

34000

In [13]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [14]:
df.ix[0]

/Users/lincolwn/Documents/Python/minicurso-ufc/venv/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

0    Django
1     34000
Name: 0, dtype: object